<template>
  <div class="completed-games">
    <Header/>
    <h3>Completed Games</h3>
    <div v-if="games != null && games.length">
      <!--<label for="selectBox">Order by</label>-->
      <!--<select v-model="selected" id="selectBox">-->
        <!--<option>Date</option>-->
        <!--<option>Likes</option>-->
        <!--<option>Created by A-Z</option>-->
        <!--<option>Created by Z-A</option>-->
      <!--</select>-->
      <CompleteGame v-for="game in paginate"
                     :game="game"
                     :key="game.id">
      </CompleteGame>
      <ul class="paginate-container">
        <li v-for="pageNumber in totalPages" :key="pageNumber">
          <button @click="setPage(pageNumber)">{{pageNumber}}</button>
        </li>
      </ul>
      <BackToGamesButton></BackToGamesButton>
    </div>
    <div v-else-if="games != null && games.length === 0">
      <p>There are currently no completed games</p>
    </div>
    <div v-else>
      <p>Loading...</p>
    </div>
  </div>
</template>

<script>
import BackToGamesButton from '@/components/BackToGamesButton.vue';
import CompleteGame from '@/components/CompleteGame.vue';
import Header from '@/components/Header.vue'
import { mapState } from 'vuex';

export default {
  name: 'completed-games',
  components: {
    BackToGamesButton,
    CompleteGame,
    Header
  },
  computed: {
    ...mapState(['completedGames']),
    totalPages: function() {
      return Math.ceil(this.resultCount / this.itemsPerPage)
    },
    paginate: function() {
      if (!this.games) {
        return;
      }
      let index = this.currentPage * this.itemsPerPage - this.itemsPerPage;
      return this.games.slice(index, index + this.itemsPerPage);
    }
  },
  data(){
    return {
      selected: 'Date',
      games: null,
      itemsPerPage: 5,
      currentPage: 1,
      resultCount: 0
    }
  },
  filters: {

  },
  methods: {
    init: function() {
      let vm = this;
      if (!this.games) {
        this.$store.dispatch('getCompletedGames').then(games => {
          vm.games = games;
        })
      }
      this.games = this.completedGames;
      this.selected = 'Date';
    },
    setPage: function(pageNumber) {
      this.currentPage = pageNumber;
    }
  },
  watch: {
    selected: function() {

    },
    completedGames: function() {
      this.games = this.completedGames;
      this.resultCount = this.games.length;
    }
  },
  created: function() {
    this.init();
  }
}
</script>

<style scoped lang="scss">
  select {
    display: block;
    margin: auto;
    width: 300px;
    height: 30px;
  }
  ul.paginate-container {
    list-style: none;
    li {
      display: inline-block;
      button {
        width: 34px;
        padding: 5px 20px 5px 12px;
      }
    }
  }
</style>
