<template>
  <div class="games">
    <Header/>
    <transition-group name="list" tag="span">
      <div v-if="games!= null && games.length" key=1>
        <h2>Pick a game to join</h2>
        <div v-for="game in games.slice(0, 5)" :key="game.id">
          <button @click="gotoGame(game.id)"
                  class="game-button">
            GAME {{ game.id.substring(0,4) }}
            <img v-if="game.usersTakenPart.length % 2 == 0"
                 src="../assets/speechbubble.svg"
                 width="20px"
                 height="20px"/>
            <img v-if="game.usersTakenPart.length % 2 == 1"
                 src="../assets/pencil.svg"
                 width="20px"
                 height="20px"/>
          </button>
        </div>
      </div>
      <div v-else-if="games != null && games.length === 0" key=2>
        <p>There are no games currently available for you. Come back later or start a new game</p>
      </div>
      <div v-else key=3>
        <p>Loading...</p>
      </div>
    </transition-group>
    <div class="other-btns-container">
      <button class="secondary" @click="startNewGame">START A NEW GAME</button>
      <button class="secondary" @click="gotoCompletedGames">COMPLETED GAMES</button>
      <button class="secondary" @click="gotoMyGames">MY GAMES</button>
      <button class="secondary" @click="gotoScoreboard">SCOREBOARD</button>
      <button class="secondary" @click="gotoUpdates">UPDATES</button>
      <button class="secondary" @click="logout">LOG OUT</button>
    </div>
    <transition name="fade">
      <div v-if="userProfile && userProfile.adminUser">
        <button class="secondary" @click="gotoSecretGames">IN PROGRESS GAMES</button>
        <button class="secondary" @click="gotoStats">STATS</button>
      </div>
    </transition>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import Header from '@/components/Header.vue'
export default {
  name: 'games',
  components: {
    Header
  },
  computed: {
    ...mapState(['games', 'userProfile'])
  },
  data() {
    return {};
  },
  methods: {
    gotoGame: function(id) {
      this.$router.push('game/' + id);
    },
    gotoCompletedGames: function() {
      this.$router.push('completed-games');
    },
    gotoMyGames: function() {
      this.$router.push('my-games');
    },
    gotoScoreboard: function() {
      this.$router.push('scoreboard');
    },
    gotoSecretGames: function() {
      this.$router.push('secret');
    },
    gotoStats: function() {
      this.$router.push('stats');
    },
    gotoUpdates: function() {
      this.$router.push('updates');
    },
    startNewGame: function() {
      this.$router.push('new-game');
    },
    logout: function() {
    let vm = this;
      vm.$store.dispatch('signOut').then(() => {
        vm.$store.dispatch('clearData');
        vm.$router.push('login');
      })
    }
  }
}
</script>

<style scoped lang="scss">
  h2 {
    margin-bottom: 16px;
  }
  button.game-button {
    width: 185px;
    padding: 5px 20px;
    img {
      vertical-align: top;
    }
  }
  .games {
    margin-bottom: 1rem;
  }
  .other-btns-container {
    max-width: 300px;
    margin: 20px auto;
  }
  .list-enter-active {
    transition: opacity 0.5s;
  }
</style>
