<template>
  <div>
    <transition-group name="list" tag="span">
      <div v-if="errorState" key=4>
        <p>{{ errorState }}</p>
        <BackToGamesButton></BackToGamesButton>
      </div>
      <div v-else-if="completedGame" key=3>
        <p>This game is complete!</p>
        <CompleteGame :game="completedGame">
        </CompleteGame>
        <BackToGamesButton></BackToGamesButton>
      </div>
      <div v-else-if="currentGame && currentGame.usersTakenPart.length % 2 == 1" class="drawing" key=1>
        <p>Your phrase is:</p>
        <p>{{ phrase }}</p>
        <p>Try to draw this phrase!</p>
        <DrawingApp @drawingUpdated="onDrawingUpdated"/>
        <button class="secondary" @click="gotoGames">GO BACK</button>
        <button @click="saveDrawing" :disabled="drawingBlob == null">I'M DONE</button>
      </div>
      <div v-else-if="currentGame && currentGame.usersTakenPart.length % 2 == 0" key=2>
        <div class="game">
          <form @submit.prevent>
            <p>Your image is:</p>
            <img :src="currentGame.posts[currentGame.usersTakenPart.length - 1]"/>
            <p>Try to describe this image!</p>
            <textarea v-model.trim="game.content"></textarea>
            <div>
              <BackToGamesButton></BackToGamesButton>
              <button @click="saveText" :disabled="game.content == ''" class="button">post</button>
            </div>
          </form>
        </div>
      </div>
      <div v-else key=5>
        Loading... {{errorState}}
      </div>
    </transition-group>
  </div>
</template>

<script>
const fb = require('../firebaseConfig.js');
import BackToGamesButton from '@/components/BackToGamesButton.vue';
import CompleteGame from '@/components/CompleteGame.vue';
import DrawingApp from '@/components/DrawingApp.vue';
import { mapState } from 'vuex';
import axios from 'axios';
  export default {
    name: 'games',
    components: {
      BackToGamesButton,
      CompleteGame,
      DrawingApp
    },
    computed: {
      ...mapState(['games', 'allGames', 'completedGames', 'inProgressGames', 'currentUser', 'userProfile'])
    },
    data() {
      return {
        completedGame: null,
        currentGame: null,
        drawingBlob: null,
        errorState: null,
        gameID: null,
        game: {
          content: ''
        },
        phrase: '',
        time: null
      };
    },
    methods: {
      init: function() {

        this.time = Date.now() / 1000;

        this.gameID = this.$route.params.id;
        if (this.games) {
          this.currentGame = this.checkForIDInArray(this.games);
          if (this.currentGame && this.currentGame.posts.length < 6) {
            if (this.checkElapsedTime()) {
              this.errorState = 'Oops. Someone else is currently playing this game. Please check back a bit later!'
            } else {
              this.phrase = this.currentGame.posts[this.currentGame.usersTakenPart.length - 1];
              this.claimGame();
            }
          } else {
            this.currentGame = this.checkForIDInArray(this.allGames);
            let incomplete = this.checkForIDInArray(this.inProgressGames);
            let complete = this.checkForIDInArray(this.completedGames);
            if (incomplete) {
              this.errorState = "You have already taken part in this game and it has not yet completed. ";
              this.errorState += "Come back soon to see what happened";
            } else if (complete) {
              this.completedGame = complete;
            } else {
              this.errorState = "Unknown error. Could not find game" + this.currentGame;
            }
          }
        } else {
          this.$store.dispatch('getCompletedGames');
        }
      },
      checkHasUserTakenPart: function() {
        return this.currentGame.usersTakenPart.container(this.currentUser.uid);
      },
      checkForIDInArray: function(arr) {
        if (arr) {
          let index = arr.findIndex(x => x.id == this.gameID);
          if (index != -1) {
            return arr[index];
          }
        }
        return null;
      },
      checkForLoggedOutCompletedGame: function() {
        this.completedGame = this.checkForIDInArray(this.completedGames);
        if (!this.completedGame) {
          this.errorState = 'This game is in progress. Please login to join this game';
        }
      },
      gotoGames: function() {
        this.$router.push('../games');
      },
      onDrawingUpdated: function(blob) {
        this.drawingBlob = blob;
      },
      addCredit: function() {
        let takenPart = this.currentGame.usersTakenPart;
        takenPart.push(this.currentUser.uid);
        return takenPart;
      },
      addCreditName: function() {
        let users = this.currentGame.users;
        users.push(this.userProfile.name || this.currentUser.displayName || '');
        return users;
      },
      claimGame: function() {
        let game = this.currentGame;
        game.claimedByUID = this.currentUser.uid;
        fb.gamesCollection.doc(this.$route.params.id).update(game);
      },
      checkElapsedTime: function() {
        if (this.currentGame.claimedByUID === this.currentUser.uid) return false;
        if (!this.currentGame.claimedOn) return false;
        const elapsedSeconds = this.time - this.currentGame.claimedOn.seconds;
        const elapsedMinutes = elapsedSeconds / 60;
        if (elapsedMinutes < 10) return true;
        else return false;
      },
      saveContent: function(content, isDrawing) {
        let posts = this.currentGame.posts;
        let filename;
        let takenPart = this.addCredit();
        let users = this.addCreditName();

        if (isDrawing) {
          filename = this.currentGame.id + '-' + posts.length + '.png';
          const fd = new FormData();
          fd.append('name', filename);
          fd.append('image', content, filename);
          axios.post('https://us-central1-vue-epyc.cloudfunctions.net/uploadFile', fd).then(res => {
            posts.push(res.data.url);
            const updateObj = {posts: posts, usersTakenPart: takenPart, users: users};
            fb.gamesCollection.doc(this.$route.params.id).update(updateObj).then(ref => {
               console.log(ref);
               if (posts.length < 6) {
                 this.gotoGames();
               }
             }).catch(err => {
              console.log(err);
            });
          });
        } else {
          posts.push(content);
          const updateObj = {posts: posts, usersTakenPart: takenPart, users: users};
          fb.gamesCollection.doc(this.$route.params.id).update(updateObj).then(ref => {
             console.log(ref);
             if (posts.length < 6) {
               this.gotoGames();
             }
           }).catch(err => {
            console.log(err);
          });
        }
      },
      saveDrawing: function() {
        this.saveContent(this.drawingBlob, true);
      },
      saveText: function() {
        this.saveContent(this.game.content, false);
      }
    },
    created: function() {
      this.init();
    },
    watch: {
      games: function() {
         this.init();
      },
      completedGames: function() {
        if (!this.currentUser) {
          this.checkForLoggedOutCompletedGame();
        }
      }
    }
  }
</script>

<style scoped>
  .game {
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
  }
</style>