<template>
  <div class="in-progress-games">
    <Header/>
    <h3>In Progress Games</h3>
    <div v-if="userProfile.adminUser != null && userProfile.adminUser">
      <CompleteGame v-for="game in inProgressGames"
                    :game="game"
                    :key="game.id">
      </CompleteGame>
    </div>
    <div v-else-if="userProfile.adminUser != null && !userProfile.adminUser">
      <p>You cannot view this page :(</p>
    </div>
    <div v-else>
      <p>Loading...</p>
    </div>
  </div>
</template>

<script>
import CompleteGame from '@/components/CompleteGame.vue';
import Header from '@/components/Header.vue'
import { mapState } from 'vuex';

export default {
  name: 'in-progress-games',
  components: {
    CompleteGame,
    Header
  },
  computed: {
    ...mapState(['inProgressGames', 'users', 'userProfile'])
  },
  data(){
    return{
      info: {
        image: ''
      }
    }
  },
  methods: {
    getUser: function(userID) {
      let index = this.users.findIndex(x => x.id == userID);
      if (index != -1) {
        return this.users[index].name;
      } else {
        return '';
      }
    }
  }
}
</script>

<style scoped>
  .game-container {
    border: 2px solid #ffffff;
    padding: 1rem;
    margin: 0.75rem;
  }
</style>