<template>
  <div class="login">
    <Header/>
    <form @submit.prevent>
      <div v-if="askForPassword">
        <div class="form-box">
          <label for="confirmPassword">{{askForPassword}}</label>
          <input type="password" v-model="password" id="confirmPassword">
        </div>
        <button @click="linkAccount">LINK</button>
        <input type="submit" @click="linkAccount" hidden />
      </div>
      <div v-else-if="askForName">
        <div class="form-box">
          <label for="confirmName">{{askForName}}</label>
          <input type="text" v-model="name" id="confirmName">
        </div>
        <button @click="confirmNamedAccount">REGISTER</button>
        <input type="submit" @click="confirmNamedAccount" hidden />
      </div>
      <div v-else>
        <h2>Play a hilarious drawing and guessing game!</h2>
        <h3>Login now</h3>
        <div class="form-box">
          <label for="email">E-mail</label>
          <input type="text" v-model="email" id="email" placeholder="Email">
        </div>
        <div class="form-box">
          <label for="password">Password</label>
          <input type="password" v-model="password" id="password" placeholder="Password">
        </div>
        <div>
          <button @click="login">LOG IN</button>
          <input type="submit" @click="login" hidden/>
        </div>
        <div>
          <div class="or">or</div>
          <FacebookButton v-on:click-button="signinWithFacebook" :wording="'SIGN IN WITH '">
          </FacebookButton>
        </div>
        <p>Not a member? <strong>
          <router-link to="/register">Register now</router-link>
        </strong></p>
        <p>What is this thing? <strong><router-link to="/completed-games">See the latest completed games!</router-link></strong></p>
      </div>
    </form>
  </div>
</template>

<script>
const fb = require('../firebaseConfig.js');
import Header from '@/components/Header.vue';
import loginMixin from '../mixins/Login.js';
import FacebookButton from '@/components/FacebookButton.vue';

export default {
  name: 'login',
  components: {
    Header,
    FacebookButton
  },
  data() {
    return {
      askForName: null,
      askForPassword: null,
      email: '',
      name: '',
      password: '',
      user: null
    }
  },
  mixins: [loginMixin],
  methods: {
    login: function() {
      fb.auth.signInWithEmailAndPassword(this.email, this.password).then(result => {
        this.successfulLogin(result.user);
        }, err => {
          alert('Oops. ' + err.message);
        }
      );
    }
  }
}

</script>

<style scoped>
</style>