<template>
  <div class="completed-games">
    <Header/>
    <h3>My Games</h3>
    <div v-if="myGamesInProgress.length">
      <h4>Incomplete</h4>

      <div v-for="game in myGamesInProgress" :key="game.id">
        <a :href="'game/' + game.id" target='_blank'>{{game.id.substr(0,4).toUpperCase()}}</a> - {{getTurnsRemaining(game.posts.length)}}
      </div>
    </div>

    <h4>Complete</h4>

    <p>All the completed games you have taken part in</p>
    <div v-if="games != null && games.length">
      <CompleteGame v-for="game in paginate"
                     :game="game"
                     :key="game.id">
      </CompleteGame>
      <ul class="paginate-container">
        <li v-for="pageNumber in totalPages" :key="pageNumber">
          <button @click="setPage(pageNumber)">{{pageNumber}}</button>
        </li>
      </ul>
      <BackToGamesButton></BackToGamesButton>
    </div>
    <div v-else-if="games != null && games.length === 0">
      <p>There are currently no completed games you have taken part in.
         Why not join one now?</p>
      <BackToGamesButton></BackToGamesButton>
    </div>
    <div v-else>
      <p>Loading...</p>
    </div>
  </div>
</template>

<script>
import BackToGamesButton from '@/components/BackToGamesButton.vue';
import CompleteGame from '@/components/CompleteGame.vue';
import Header from '@/components/Header.vue';
import { mapState } from 'vuex';

export default {
  name: 'my-games',
  components: {
    BackToGamesButton,
    CompleteGame,
    Header
  },
  computed: {
    ...mapState(['myGames', 'myGamesInProgress']),
    totalPages: function() {
      return Math.ceil(this.resultCount / this.itemsPerPage)
    },
    paginate: function() {
      if (!this.games) {
        return;
      }
      let index = this.currentPage * this.itemsPerPage - this.itemsPerPage;
      return this.games.slice(index, index + this.itemsPerPage);
    }
  },
  data(){
    return {
      games: null,
      itemsPerPage: 5,
      currentPage: 1,
      resultCount: 0
    }
  },
  methods: {
    init: function() {
      this.games = this.myGames;
      this.resultCount = this.games.length;
    },
    getTurnsRemaining(turnsTaken) {
      let remaining = 6 - turnsTaken;
      if (remaining === 1) {
        return '1 turn remaining';
      } else {
        return remaining + ' turns remaining';
      }
    },
    setPage: function(pageNumber) {
      this.currentPage = pageNumber;
    }
  },
  watch: {
    myGames: function() {
      this.init();
    },
  },
  created: function() {
    this.init();
  }
}
</script>

<style scoped lang="scss">
  ul.paginate-container {
    list-style: none;
    li {
      display: inline-block;
      button {
        width: 34px;
        padding: 5px 20px 5px 12px;
      }
    }
  }
</style>
