<template>
  <div class="new-game">
    <section>
      <form @submit.prevent>
        <div v-if="newGameId" class="create-game">
          <p>Your new game is located
            <router-link :to="'game/' + newGameId">here</router-link>
            . Send the link to a friend so they can participate!
          </p>
          <BackToGamesButton></BackToGamesButton>
        </div>
        <div v-else class="create-game">
          <p>Make up a phrase or situation for the next player to draw</p>
          <textarea v-model.trim="game.content"></textarea>
          <div>
            <button @click="createGame" :disabled="game.content == ''" class="button">post</button>
            <input type="submit" @click="createGame" hidden/>
          </div>
        </div>
      </form>
    </section>
  </div>
</template>


<script>
  import { mapState } from 'vuex';
  const fb = require('../firebaseConfig.js');
  import BackToGamesButton from '@/components/BackToGamesButton.vue';

  export default {
    components: {
      BackToGamesButton
    },
    data() {
      return {
        game: {
          content: ''
        },
        newGameId: ''
      }
    },
    computed: {
      ...mapState(['userProfile', 'currentUser'])
    },
    methods: {
      createGame() {
        if (this.game.content.length > 58) {
          alert('Sorry your post is too long, try to shorten it');
        } else if (this.game.content.length < 4) {
          alert('Sorry your post is too short, try something a bit longer');
        } else {
          fb.gamesCollection.add({
            createdOn: new Date(),
            posts: [this.game.content],
            createdByUID: this.currentUser.uid,
            createdByName: this.userProfile.name,
            editedOn: 0,
            users: [this.userProfile.name],
            usersTakenPart: [this.currentUser.uid],
            likes: 0,
            postLikes: [0,0,0,0,0,0]
          }).then(ref => {
            this.game.content = '';
            this.newGameId = ref.id;
          }).catch(err => {
            console.log(err);
          })
        }
      }
    }
  }

</script>
<style scoped lang="scss">
  p {
    max-width: 300px;
    text-align: left;
  }
  textarea {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    width: 300px;
    height: 60px;
    font-size: 18px;
    resize: none;
  }
</style>