<template>
  <div class="register">
    <Header/>
    <form @submit.prevent>
      <div v-if="askForPassword">
        <div class="form-box">
          <label for="confirmPassword">{{askForPassword}}</label>
          <input type="password" v-model="password" id="confirmPassword">
        </div>
        <button @click="linkAccount">LINK</button>
        <input type="submit" @click="linkAccount" hidden/>
      </div>
      <div v-else-if="askForName">
        <div class="form-box">
          <label for="confirmName">{{askForName}}</label>
          <input type="text" v-model="name" id="confirmName">
        </div>
        <button @click="confirmNamedAccount">REGISTER</button>
        <input type="submit" @click="confirmNamedAccount" hidden/>
      </div>
      <div v-else>
        <h2>Confirm your email and password</h2>
        <h3>Register now</h3>
        <div class="form-box">
          <label for="email">E-mail</label>
          <input type="text" v-model="email" id="email" placeholder="Email">
        </div>
        <div class="form-box">
          <label for="password">Password</label>
          <input type="password" v-model="password" id="password" placeholder="Password">
        </div>
        <div class="form-box">
          <label for="name">Name</label>
          <input type="text" v-model="name" id="name" placeholder="Name">
        </div>
        <button @click="registerNew">REGISTER</button>
        <input type="submit" @click="registerNew" hidden/>
        <div>
          <div class="or">or</div>
          <FacebookButton v-on:click-button="signinWithFacebook" :wording="'REGISTER WITH '">
          </FacebookButton>
        </div>
        <p>Already a member? <strong>
          <router-link to="/login">Log in</router-link>
        </strong></p>
      </div>
    </form>
  </div>
</template>

<script>
import Header from '@/components/Header.vue';
const fb = require('../firebaseConfig.js');
import loginMixin from '../mixins/Login.js';
import FacebookButton from '@/components/FacebookButton.vue';

export default {
  name: 'register',
  components: {
    Header,
    FacebookButton
  },
  data() {
    return {
      askForName: null,
      askForPassword: null,
      email: '',
      name: '',
      password: '',
      user: null
    };
  },
  mixins: [loginMixin],
  methods: {
      registerNew: function() {
      let error;
      error = this.validateName(this.name);
      if (!error) {
        fb.auth.createUserWithEmailAndPassword(this.email, this.password).then(
          (result) => {
            this.registerNewUser(result.user, this.name);
          }, (err) => {
            error = err.message;
          }
        )
      }
      if (error) {
        alert('Ooops, ' + error);
      }
    }
  }
}

</script>

<style scoped>
</style>