<template>
  <div class="updates">
    <Header/>
    <h3>Most Active Players</h3>
    <transition-group name="list" tag="span">
      <div v-for="(player,index) in playersSorted.slice(0, 10)" :key="player">
        <p>{{player}} - {{players[player]}}
          <span v-if="index === 0"> 🥇</span>
          <span v-if="index === 1"> 🥈</span>
          <span v-if="index === 2"> 🥉</span>
        </p>
      </div>
    </transition-group>
    <BackToGamesButton></BackToGamesButton>
  </div>
</template>

<script>
import BackToGamesButton from '@/components/BackToGamesButton.vue';
import Header from '@/components/Header.vue';
import {mapState} from 'vuex';

export default {
  name: 'updates',
  components: {
    BackToGamesButton,
    Header
  },
  computed: {
    ...mapState(['allGames'])
  },
  data() {
    return {
      players: {},
      playersSorted: []
    };
  },
  methods: {
    init: function() {
      if (!this.allGames) {return;}
      this.players = {};
      this.allGames.forEach(game => {

        if (game.users) {
          game.users.forEach(user => {
            this.players[user] = (this.players[user] || 0) + 1;
          })
        } else {
          // TODO fix error state
        }
      })
      this.playersSorted = Object.keys(this.players).sort((a, b) => this.players[b] - this.players[a]);
    }
  },
  mounted: function() {
    this.init();
  },
  watch: {
    allGames: function() {
      this.init();
    }
  }
}

</script>
<style scoped lang="scss">
  h3 {
    margin-top: 0;
  }
</style>