<template>
  <div class="stats">
    <Header/>
    <transition-group name="list" tag="p">
      <p v-if="users && users.length" key=1>Registered users: {{users.length}}</p>
      <p v-else key=2>Loading...</p>
      <p v-if="completedGames" key=3>Completed games: {{completedGames.length}}</p>
      <p v-if="inProgressGames" key=4>Incomplete games: {{inProgressGames.length}}</p>
      <p v-if="likes" key=5>Number of Likes: {{likes}}</p>
    </transition-group>
    <BackToGamesButton></BackToGamesButton>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import BackToGamesButton from '@/components/BackToGamesButton.vue';
const fb = require('../firebaseConfig.js');
import Header from '@/components/Header.vue';

export default {
  name: 'games',
  components: {
    BackToGamesButton,
    Header
  },
  computed: {
    ...mapState(['inProgressGames','completedGames', 'users'])
  },
  data() {
    return {
      likes: null
    };
  },
  methods: {
  },
  mounted: function() {
    fb.likesCollection.get().then(snap => {
      this.likes = snap.size;
    });
  }
}
</script>
<style>

</style>