<template>
  <div class="updates">
    <Header/>
    <div class="flex-container">
      <div class="update-container">
        <h2>Latest Updates</h2>
        <div>
          <h4>February '19</h4>
          <p>Added pagination to completed games page</p>
          <p>Now you can no longer take the same game as someone else at the same time, the game is locked to you for 10 minutes</p>
          <p>Added a scoreboard showing off the 10 most active players 🏅</p>
          <p>Added ability to comment on completed games.</p>
          <p>Previously all the images were stored in a way that wasn't scalable and meant the app was slow to start,
            as all images were being loaded into memory. Now they are loaded as needed</p>
        </div>
        <div>
          <h4>January '19</h4>
          <p>You can now see each individual completed game when logged out. Be sure to share your games with friends and on social media 🦄💖</p>
          <p>You can now see the completed games when logged out! Currently you still need to be logged in to link to each individual game</p>
          <p>Fixed an issue with undo</p>
          <p>You can login and register with facebook, also sign-in to link your existing account 😄</p>
          <p>Added the ability to Like games!</p>
          <p>You can now 'Add to home screen' on Android</p>
        </div>
        <div>
          <h4>December '18</h4>
          <p>Drawing now has Undo functionality.</p>
          <p>Added 'Updates' page</p>
          <p>Completed games are now ordered by finish date, instead of creation date.</p>
          <p>Added 'My games' page</p>
          <p>A complete game now displays when you add the final image.</p>
          <p>Added link to each individual game</p>
          <p>Added ability to change order of completed games</p>
          <p>Fixed a logout issue</p>
          <p>Added icons to game screen</p>
          <p>Improved the completed games screen with messaging design</p>
          <p>Fixed a bug where mobile screen could scroll as you drew an image</p>
          <p>Added completed games screen</p>
          <p>Deployed on Google Cloud. The game is now public!</p>
        </div>
      </div>
      <div class="game-pick-container">
        <h2>Epyc Picks</h2>
        <div>
          <a href="game/wV362hOKJBFtZvlD78mg">
            <img src="https://firebasestorage.googleapis.com/v0/b/vue-epyc.appspot.com/o/wV362hOKJBFtZvlD78mg-3.png?alt=media&token=7c9a293f-7f8b-49d7-a521-dec5e4cbf1db">
            <h4>February - Unicorn blowing bubbles - by Vickie</h4>
          </a>
        </div>
        <div>
          <a href="game/TwAFZ3EXEPfHAN1lsuBh">
            <img src="https://firebasestorage.googleapis.com/v0/b/vue-epyc.appspot.com/o/TwAFZ3EXEPfHAN1lsuBh-5.png?alt=media&token=e07ebcd3-9203-420f-9c5b-b9423d0b920a">
            <h4>January - A xylophone is chasing me - by Jenn</h4>
          </a>
        </div>
        <div>
          <a href="game/0PsPXJCEJ6kCrrBl0dJJ">
            <img src="https://firebasestorage.googleapis.com/v0/b/vue-epyc.appspot.com/o/0PsPXJCEJ6kCrrBl0dJJ-1.png?alt=media&token=28c1eab4-f8e9-4ef8-bf9c-511755887b7e">
            <h4>December - A very clever bunny - by Hå</h4>
          </a>
        </div>
      </div>
    </div>
    <BackToGamesButton></BackToGamesButton>
  </div>
</template>

<script>
import BackToGamesButton from '@/components/BackToGamesButton.vue';
import Header from '@/components/Header.vue';

export default {
  name: 'updates',
  components: {
    BackToGamesButton,
    Header
  },
  data() {
    return {};
  },
  methods: {
  }
}

</script>
<style scoped lang="scss">
  .flex-container {
    display: flex;
    @media screen and (max-width: 1000px) {
      flex-direction: column;
    }
  }
  .updates {
    padding: 0 10px;
  }
  .updates > div {
    margin-bottom: 2rem;
  }
  .update-container {
    margin: 0 20px;
    p, h2, h4 {
      text-align: left;
    }
  }
  a {
    text-decoration: none;
  }
  .game-pick-container {
    h4 {
      margin-top: 10px;
      font-size: 13px;
    }
  }
</style>