<template>
  <button class="back-btn secondary" @click="gotoGames">GO BACK</button>
</template>
<script>
import { mapState } from 'vuex';
export default {
  name: 'BackToGamesButton',
  computed: {
    ...mapState(['currentUser'])
  },
  methods: {
    gotoGames: function() {
      if (!this.currentUser) {
        this.$router.push('../../login');
      } else {
        this.$router.push('../games');
      }
    }
  }
}
</script>
<style>
  .back-btn {
    margin-bottom: 1rem;
  }
</style>