<template>
  <div>
    <div class="game-container">
      <h4 v-if="!this.$route.params.id">
        <router-link :to="'game/' + game.id">
          {{game.posts[0]}}
        </router-link>
      </h4>
      <h4 v-else>
        {{game.posts[0]}}
      </h4>
      <h6>Started by {{game.createdByName}}</h6>
      <div v-for="(post,index) in game.posts" :key="index + post">
        <div v-if="index % 2 == 0" class="text-post">
          <span>
            {{game.users[index]}}
          </span>
          <p>
            {{post}}
          </p>
        </div>
        <div v-if="index % 2 == 1" class="img-post">
          <div class="img-container">
            <img :src="game.posts[index]" draggable="false"/>
          </div>
          <span>
            {{game.users[index]}}
          </span>
        </div>
      </div>
      <button class="secondary like-btn" @click="likeGame(game.id, game.likes)" :disabled="!currentUser">
        {{game.likes}} ❤
      </button>
      <button v-if="currentUser" class="primary comment-btn" @click="commentOnGame()">
        + 💬
      </button>
      <div v-if="commentsActive">
        <textarea v-model="comment">
        </textarea>
        <div>
          <button class="secondary comment-btn" @click="addComment()">
            ADD COMMENT
          </button>
        </div>
      </div>
      <div class="comment-container">
        <transition-group name="list" tag="div">
          <ul v-for="(comment, i) in game.comments" :key="i + 'l'">
            <li>
              <strong>{{comment.name}}</strong> - {{comment.comment}}
              <button v-if="currentUser && comment.uid === currentUser.uid"
                      class="btn delete-btn" @click="deleteComment(i)"></button>
            </li>
          </ul>
        </transition-group>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
const fb = require('../firebaseConfig.js');

export default {
  name: 'CompleteGame',
  computed: {
    ...mapState(['users', 'currentUser', 'userProfile'])
  },
  data() {
    return {
      comment: '',
      commentsActive: false
    }
  },
  mounted () {

  },
  methods: {
    addComment: function() {
      let comments = this.game.comments || [];
      comments.push({comment: this.comment, name: this.userProfile.name, uid: this.currentUser.uid});
      fb.gamesCollection.doc(this.game.id).update({comments: comments});
      this.comment = '';
    },
    commentOnGame: function() {
      this.commentsActive = !this.commentsActive;
    },
    deleteComment: function(i) {
      let comments = this.game.comments;
      comments.splice(i, 1);
      fb.gamesCollection.doc(this.game.id).update({comments: comments});
    },
    getUser: function(userID) {
      let index = this.users.findIndex(x => x.id == userID);
      if (index != -1) {
        return this.users[index].name;
      } else {
        return '';
      }
    },
    likeGame: function(postId, likes) {
      let docId = `${this.currentUser.uid}_${postId}`;
      fb.likesCollection.doc(docId).get().then(doc => {
        if (doc.exists) {
          return;
        }
        fb.likesCollection.doc(docId).set({
          postId: postId,
          userId: this.currentUser.uid
        }).then(() => {
          // update post likes
          fb.gamesCollection.doc(postId).update({
            likes: likes + 1
          })
        })
      }).catch(err => {
        console.log(err);
      })
    }
  },
  props: {
    game: {}
  }
}

</script>

<style scoped lang="scss">
  h4 {
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 300px;
    margin-bottom: 0;
  }
  h6 {
    margin: 0.5rem 0;
  }
  .game-container {
    padding: 1rem;
    margin: 0.75rem;
  }
  .img-post span, .text-post span {
    display: block;
    font-weight: bold;
  }
  .img-post {
    .img-container {
      position: relative;
      img {
        border-radius: 5px 5px 0 5px;
      }
      &:after {
        position: absolute;
        content: '';
        height: 20px;
        width: 16px;
        background-color: #ffffff;
        bottom: -13px;
        right: 0;
        border-right: 16px solid #fff;
        border-bottom: 20px solid #333333;
      }
    }
    span {
      text-align: right;
      margin-top: 1rem;
      color: #00A6FB;
    }
  }
  .text-post {
    p {
      position: relative;
      background-color: #ffffff;
      border-radius: 0 5px 5px 5px;
      text-align: right;
      font-weight: bold;
      font-size: 14px;
      color: #000000;
      text-transform: uppercase;
      width: min-content;
      padding: 5px;
      &:before {
        position: absolute;
        content: '';
        height: 20px;
        width: 16px;
        background-color: #ffffff;
        top: -20px;
        left: 0;
        border-left: 16px solid #fff;
        border-top: 20px solid #333333;
      }
    }
    span {
      text-align: left;
      margin-bottom: 1.3rem;
      color: #DB62B3;
    }
  }
  .like-btn {
    margin: -2rem 0 0 0;
    font-size: 18px;
  }
  textarea {
    width: 100%;
    margin-top: 10px;
    height: 60px;
  }
  .comment-btn {
    margin: 10px auto 10px 0;
  }
  .comment-container ul {
    list-style: none;
    li {
      position: relative;
      text-align: left;
    }
  }
  .delete-btn {
    position: absolute;
    right: 0;
    background-image: url("../assets/bin.svg");
    height: 21px;
    width: 20px;
    padding: 4px;
    background-size: contain;
  }
  @media (max-width: 340px) {
    .img-container img {
      width: 250px;
      height: 250px;
    }
    .img-post .img-container:after {
      right: 6px;
    }
  }
</style>
