<template>
  <div class="drawing-app">
    <div class="canvas-wrapper">
      <canvas ref="my-canvas"
              width="300px"
              height="300px"
              @mousedown="addClickDown"
              @touchstart="addClickDown"
              @mousemove="addClickMove"
              @touchmove="addClickMove"
              @mouseout="stopPaint"
              @mouseup="stopPaint"
              @touchend="stopPaint"/>
    </div>
    <button @click="undo" :disabled="!undoEnabled">UNDO</button>
    <button @click="erase">CLEAR</button>
  </div>
</template>

<script>
import 'blueimp-canvas-to-blob';

export default {
  name: 'DrawingApp',
  data() {
    return {
      backupClickX: [],
      backupClickY: [],
      backupClickDrag: [],
      blob: null,
      canvas: null,
      context: null,
      clickX: [],
      clickY: [],
      clickDrag: [],
      paint: false,
      undoEnabled: false
    }
  },
  mounted () {
    this.canvas = this.$refs['my-canvas'];
    this.context = this.$refs['my-canvas'].getContext('2d');
    this.clearCanvas();
  },
  methods: {
    backup: function() {
      this.backupClickX = this.clickX.slice();
      this.backupClickY = this.clickY.slice();
      this.backupClickDrag = this.clickDrag.slice();
      this.undoEnabled = true;
    },
    clearCanvas: function() {
      this.context.clearRect(0, 0, this.context.canvas.width, this.context.canvas.height);
      this.context.fillStyle = "#ffffff";
      this.context.fillRect(0, 0, this.canvas.width, this.canvas.height);
    },
    erase: function() {
      this.clearCanvas();
      this.clickX = [];
      this.clickY = [];
      this.clickDrag = [];
    },
    save: function() {
      let vm = this;
      if (this.canvas.toBlob) {
        this.canvas.toBlob(function (blob) {
            vm.$emit('drawingUpdated', blob);
          },
          'image/png'
        );
      }
    },
    addClick: function(x, y, dragging) {
      this.clickX.push(x);
      this.clickY.push(y);
      this.clickDrag.push(dragging);
    },
    addClickDown: function(e) {
      this.backup();
      e.preventDefault();
      this.paint = true;
      let mouseX = e.pageX;
      let mouseY = e.pageY;
      this.addClick(mouseX - this.canvas.offsetLeft, mouseY - this.canvas.offsetTop);
      this.redraw();
    },
    addClickMove: function(e) {
      e.preventDefault();
      if(this.paint){
        let mouseX = e.pageX || e.touches[0].pageX;
        let mouseY = e.pageY || e.touches[0].pageY;
        this.addClick(mouseX - this.canvas.offsetLeft, mouseY - this.canvas.offsetTop, true);
        this.redraw();
      }
    },
    stopPaint: function() {
      this.paint = false;
      this.save();
    },
    redraw: function() {
      this.clearCanvas();

      this.context.strokeStyle = "#000";
      this.context.lineJoin = "round";
      this.context.lineWidth = 4;

      for(var i=0; i < this.clickX.length; i++) {
        this.context.beginPath();
        if (this.clickDrag[i] && i) {
          this.context.moveTo(this.clickX[i-1], this.clickY[i-1]);
        } else {
          this.context.moveTo(this.clickX[i]-1, this.clickY[i]);
        }
        this.context.lineTo(this.clickX[i], this.clickY[i]);
        this.context.closePath();
        this.context.stroke();
      }
    },
    undo: function() {
      this.clickX = this.backupClickX.slice();
      this.clickY = this.backupClickY.slice();
      this.clickDrag = this.backupClickDrag.slice();
      this.backupClickX = [];
      this.backupClickY = [];
      this.backupClickDrag = [];
      this.redraw();
      this.undoEnabled = false;
    },
  }
}


</script>

<style>
</style>
