<template>
  <div class="header">
    <a @click="goHome">
      <img src="../assets/logo.png">
    </a>
  </div>
</template>
<script>
import { mapState } from 'vuex';
export default {
  name: 'Header',
  computed: {
  ...mapState(['currentUser'])
  },
  data() {
    return {
    }
  },
  methods: {
    goHome: function() {
      if (this.currentUser) {
        this.$router.push('games');
      } else {
        this.$router.push('login');
      }
    }
  }
}
</script>
