<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
  import { mapState} from 'vuex';

  export default {
    computed: {
      ...mapState(['currentUser'])
    }
  }
</script>

<style lang="scss">
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  display: flex;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #ffffff;
  background-color: #333333;
  height: 100vh;
  margin: 0;
}
input, body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}
#app {
  margin: auto;
}
a {
  color: #DB62B3;
}
button {
  background-color: #00A6FB;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  font-family: inherit;
  border: 0;
  padding: 5px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 20px;
  line-height: 26px;
  &:focus {
    outline: none;
  }
  &.secondary {
    background-color: #DB62B3;
  }
  &:disabled {
    background-color: #666666;
  }
}
ul {
  padding: 0;
}
.btn {
  background-color: transparent;
  border-radius: 0;
  padding: 0;
  margin: 0;
}
.form-box {
  width: 50%;
  margin: auto auto 0.5rem auto;
  input {
    height: 33px;
    padding: 0.5rem;
    width: 100%;
    border: 0;
  }
  input, label {
    display: block;
  }
  label {
    text-align: left;
  }
  @media (max-width: 600px) {
    width: 70%;
    input {
      height: 45px;
    }
  }
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

.list-enter-active {
  transition: opacity 1s;
}
.list-leave-active {
  transition: opacity 0s;
}
.list-enter, .list-leave-to, .fade-enter, .fade-leave-to {
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.or {
  position: relative;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  &::before, &::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 45%;
    bottom: 50%;
    display: block;
    border: 1px solid #ddd;
  }
  &::after {
    right: 0;
  }
}
</style>
