<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <head>
    <title>EPYC | <%= yield(:title) %></title>
  </head>

  <body>
    <h1>EPYC</h1>
    <p>This is the home page for the EPYC application.</p>
  </body>
</html>